<a href="https://colab.research.google.com/github/SeventyThreeCloud/RoadToDataScience/blob/main/PythonBasics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Comment in single line 

""" Comment in Multiple Lines """
''' Comment in Multiple Lines '''
''' The content between triple qoutes is ignored at time of execution '''

# EXAMPLE OF CREATING A VARIABLE

# We use # to add comment, it wonâ€™t run or affect the code
# You use = to assign a value to the name of the variable. 
# Each code starts on the new line. No semicolon or {}
# Python is awesome. You do not need to provide the data type of variable when creating it.

int_var = -1;
print(int_var);

-1

In [ ]:
### Numbers ###
# Two types of the numbers integers "int" and floats "float"
# Integers are real numbers like 1,2,100,-200 etc , Floats are decimal numbers like 1.2,1.3,100.2
# Floats are not Real :)  

var_int = 299  
var_float = 73.3 

print(var_int)

print("\n")   # Newline
print(100+3)  # add
print(100-3)  # subtract
print(100/3)  # division
print(100//3) # floor division
print(100%3)  # modular division
print(100**3) # powers

type(var_float)

299


103
97
33.333333333333336
33
1
1000000

float

In [ ]:
### Strings ###
# Can be represented using 'singleqoute' or "doubleqoute"
# Integers are real numbers like 1,2,100,-200 etc , Floats are decimal numbers like 1.2,1.3,100.2
# Floats are not Real :)  

str1 = "apple"
str2 = 'macbook'

print(str1 + str2);
print(str1 + ' ' + str2);

#Compare Strings

print('AAAA' == 'aAAA')
print('aAAA' == 'aAAA')

applemacbook
apple macbook
False
True

In [ ]:
### String Methods ###

line = "a random Line of text";
# Case capitalization 
# It return the string with first letter capitalized and the rest being lower cases. 
print(line.capitalize())

# Given a string, convert it into title (each word is capitalized)
print(line.title())

#Convert a String to upper case
print(line.upper())

#Convert a String to lower case
print(line.lower())

#Split the String with the delimiter
#split('delimiter','maxsplits')
#maxsplits --> default to -1 : no limit , else send value max list index you need , if you need to split into 3 parts pass 2 as 0 will start point of the list index

print(line.split(',')); # split whereever ',' is found 

print(line.split()); # split with ' '(Space) as delimiter

print(line.split(' ',0)); #split with ' '(Space) as delimiter and max split is 0 

print('I,Can,Do,This,Too'.split(',')); # can split the string directly

print('I,Can,Do,This,Too'.split()); 
print(type(line.split(' ',0))) # Print the type after split it will be list

#Lastly, we can use replace() method to replace some characters in string with another characters. 
#Replace method takes two inputs: characters to be replaced, and new characters to be inserted in string, replace('characters to be replaced', 'new characters').

print(line.replace(' ', ','))
print(line.replace('Line', 'ok'))

A random line of text
A Random Line Of Text
A RANDOM LINE OF TEXT
a random line of text
['a random Line of text']
['a', 'random', 'Line', 'of', 'text']
['a random Line of text']
['I', 'Can', 'Do', 'This', 'Too']
['I,Can,Do,This,Too']
<class 'list'>
a,random,Line,of,text
a random ok of text

In [ ]:
### Data Structure ###